/**
* Site header
*/
.logo-primary {
  background: $logo-bg-colour;
  padding: $gutter 0;

  .container {
    display: block;
    line-height: 1;
  }

  .l-site-title,
  .l-toggle-switch {
    display: inline-block;
  }

  .site-title {
    display: block;
    outline: none !important;
    border: none !important;
  }

  .l-toggle-switch {
    float: right;
  }

  img {
    height: 30px;
    width: auto;
    max-width: 90%;
    display: block;
    outline: none !important;
    border: none !important;
  }

  @include media($screen-sm) {
    padding: $spacing-unit / 2 0;

    img {
      height: 40px;
      max-width: 100%;
      width: 464px;
    }
  }
}
