@charset 'utf-8';

/**
 *
 * Ui-kit and overrides
 *
 */

@import '~bourbon/core/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';
@import '_vendor/gov-au-ui-kit/fake-external-links';

@import './../../_common/styles/_vendor/bootstrap/bootstrap-grid';


/**
 *
 * Dashboard
 *
 */

// vendor

@import '~bootstrap/scss/mixins/lists';


// components
// layout
// themes



@import 'globals/variables';
@import 'globals/mixins';

@import "../../_common/styles/components/type";
@import 'base';
@import 'layout';

$enable-flex: false !default;
$spacer: 1rem !default;
$media-margin-top:            15px !default;
$media-heading-margin-bottom:  5px !default;
$media-alignment-padding-x:   10px !default;
@import '~bootstrap/scss/media';
@import 'components/toggle-switch';

@import 'components/footer';
@import 'dashboard/chart';
@import 'dashboard/base';
@import 'dashboard/dashboard';
@import 'dashboard/card';
@import 'dashboard/stack';
@import 'feedback/base';
@import 'feedback/feedback';
@import 'widgets/widget';
@import 'widgets/sparkline';

