.feedback_index {
  .container {
    @include add-gutter;
    margin-right: auto;
    margin-left: auto;

    @include media($screen-sm) {
      width: 750px;
    }

    @include media($screen-md) {
      width: 970px;
    }

    @include media($screen-lg) {
      width: 1170px;
    }
  }

  .full {
    @include span-columns(12);
    @include add-gutter;
  }

  .row {
    margin-bottom: $spacing-unit;
  }
}
