<div class="toggle-group">
  <span class="hidden-on-small">High contrast mode</span>
  <input id="switch-mode" type="checkbox" name="switch-mode" tabindex="0"/>
  <label for="switch-mode">
    <span class="aural"></span>
  </label>
  <div class="onoffswitch pull-right" aria-hidden="true">
    <div class="onoffswitch-label">
      <div class="onoffswitch-inner"></div>
      <div class="onoffswitch-switch"></div>
    </div>
  </div>
</div>
