<div class=toggle-switch>
  <p> High Contrast mode </p>
  <label class="switch-light switch-material" onclick="">
    <input type="checkbox">
    <span>
      <span></span>
      <span></span>
      <a></a>
    </span>
  </label>
</div>
