<script type="text/javascript">
  window.__CONFIG__ = <%== PORTAL_CONFIG.to_json %>;
  window.__INITIAL_STATE__ = <%== render(template: "/portal/index.json.jbuilder") %>;
</script>
<div id="portal_index"></div>
