<script type="text/javascript">
  window.__INITIAL_STATE__ = {
    currentUser: {
      id: 1,
      firstName: '',
      lastName: '',
      canEditDashboard: [1, 2]
    },
    app: {},
    dashboards: [
      {
        id: 1,
        title: 'Hobby Dashboard',
        description: '',
        dateCreated: '',
        dataUpdated: '',
        layout: [],
        widgets: []
      },
      {
        id: 2,
        title: 'Industry Dashboard',
        description: '',
        dateCreated: '',
        dataUpdated: '',
        layout: [],
        widgets: []
      }
    ]
  };
</script>
<div id="portal_index"></div>
