@import '../_vendor/css-toggle-switch/toggle-switch';

.toggle-switch {
  color: $white;
  position: relative;
  top: 7px;

  @media screen and (max-width: $screen-sm) {
    top: 2px;
 }

  .switch-material {
    &.switch-light {
      float: right;

      strong {
        float:left;
        padding-right: $gutter;
        padding-top: 6px;

        @media screen and (max-width: $screen-sm) {
          display: none;
        }
      }

      a {
        top: 0;
        width: 1.5em;
        height: 1.5em;
      }

      > span {
        background: $secondary-text-colour;
        float: right;
      }

      input:checked ~ span {
        background: $cerulean;

        a {
          background-color: $white;
          background-position: center;
          background-size: 70%;
          background-color: $white;
          background-repeat: no-repeat;
          background-image: url('../../images/low-vision-icon.png');
        }
      }
    }
  }
}
