<script type="text/javascript">
  window.__CONFIG__ = <%== PORTAL_CONFIG.to_json %>;
  window.__STATE__ = <%== render(template: "/editor/index.json.jbuilder") %>;
</script>
<div id="editor_index" class="editor__app"></div>
