<script type="text/javascript">
  window.__CONFIG__ = <%== PORTAL_CONFIG.to_json %>;
  window.__STATE__ = <%== render(template: "/editor/index.json.jbuilder") %>;
</script>
<div id="editor_index"></div>
<script>
  document.getElementById('editor_index').innerHTML +=
    '<div class="container" style="padding-top:1em;">' +
      '<img src="<%= image_path('editor-skeleton.png') %>" width="1112" height="262" />' +
    '</div>';
</script>
