// class names consistent with Bootstrap forms

.form-group {
  margin-bottom: 1em;

  .help-block {
    font-size: rem(12);
    color: #c00;
  }
}

.form__help-block {
  font-size: rem(12);
  color: #c00;
}
