footer {
  font-size: 14px;
  background: $primary-text-colour;

  padding-top: 1.4em;
  padding-bottom: $default-padding;

  @media (min-width:$screen-sm-minor) {
    padding-top: 2.4em;
  }

  .l-footer-logo,
  .l-footer-links {
    display: inline-block;
  }

  .l-footer-logo {
    padding-bottom: 2.4em;
    text-align: center;
    display: block;
    padding-right: 1em;
  }

  .l-footer-links {
    padding-left: 1em;
  }

  .l-footer-logo,
  .l-footer-links {
    @media (min-width:$screen-sm-minor) {
      display: inline-block;
    }
  }

  .l-footer-links {
    @media (min-width:$screen-sm-minor) {
      float:right;
    }
  }

  li {
    line-height: $line-height-base;
  }

  section {
    @extend .container;

    &::after {
      clear: both;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding-left: 0;

      a {
        text-decoration: none;
        color: $white;
      }
    }
  }

  a {
    text-decoration: none;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      text-decoration: underline;
    }

    &:visited {
      color: $white;
      background-color: $primary-text-colour;
    }
  }
}
