<% content_for :title, 'Dashboard API' %>
<% content_for :description, 'Dashboard API documentation and instructions' %>

<div class="container">
    <h1>API</h1>
    <p>The Performance Dashboard provides a simple HTTP API for storing data.</p>
    <p>A Swagger API Specification is provided</p>
    <h2>Resources</h2>
    <ul>
      <li><a href="https://swaggerhub.com/api/dto/dto-dashboard/v1">Swagger Specification</a></li>
      <li><a href="https://github.com/AusDTO/dto-dashboard/blob/master/dashboard-api.postman_collection.json">Postman App Configuration</a></li>
      <li><a href="https://www.getpostman.com/">Postman App</a></li>
    </ul>
    <h2>Sandbox Environment</h2>
    <p>A sandbox environment is available to agencies upon request for development and testing purposes.</p>
    <p>The sandbox data is transient and periodically reset and allows the API to be safely explored without effecting production systems.</p>
    <p>Sandbox environments track the Production Dashboard releases and are updated regularly to reflect changes and fixes in production.</p>

</div>
