<%
content_for :title, 'Feedback Form'
content_for :description, 'Performance Dashboard Feedback Form'
%>
<div class="container">
    <div class="row feedback-intro">
        <a href="/" aria-hidden="true" class="back-link">Back to dashboards</a>
        <h1>Please give feedback</h1>
        <p>The Performance Dashboard is a working prototype, and we value your feedback and suggestions.</p>
    </div>
    <div class="row feedback-form">
        <style>
            .smcx-embed {
                height: 692px !important;
                overflow: hidden;
            }

            .smcx-iframe-container {
                height: 700px !important;
                overflow: hidden;
            }
        </style>
        <script type="text/javascript">(function(t,e,o,s){var c,n,r;t.SMCX=t.SMCX||[],e.getElementById(s)||(c=e.getElementsByTagName(o),n=c[c.length-1],r=e.createElement(o),r.type="text/javascript",r.async=!0,r.id=s,r.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/GKgRqL_2BCko8I4rU2ybDGDl7m_2BSsCcby9ljZk1b4GzR3EXGuZVzvVj6vI2BVC3YPF.js"].join(""),n.parentNode.insertBefore(r,n))})(window,document,"script","smcx-sdk");</script>
    </div>
    <div class="row feedback-tail-breadcrumb">
        <a href="/" aria-hidden="true" class="back-link">Back to dashboards</a>
    </div>
</div>
