<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in - Performance Dashboards</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <%
    #
    # Production mode or not required for webpack-dev-server mode
    #
    if !(Rails.env.development? && ENV['DEV_SERVER'] == 'true') %>
      <link rel="stylesheet" href="/stylesheets/login.css?v=161014-1513" />
  <% end %>
</head>
<body class="login <%= body_class(yield(:body_class_names)) %>">

  <div>
    <div class="phase-banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <span>This is a working alpha and has limited functionality. Service data shown is
          accurate as at the time it was published.</span>
          </div>
        </div>
      </div>
    </div>
    <header class="main__header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a href="/" title="Go to GOV.AU Performance Dashboard" class="logo">
              <img src="<%= image_path('gov-performance.svg') %>" alt="Logo of GOV.AU Performance Dashboard" height="30px" />
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <main role="main" class="login__main">
    <article>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-4 offset-md-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </article>
  </main>

  <%
    #
    # Production mode or webpack-dev-server mode
    #
    if !(Rails.env.development? && ENV['DEV_SERVER'] == 'true') %>
    <% # <script src="/javascripts/login.js"></script> %>
  <% else %>
    <script src="http://localhost:8080/javascripts/login.js?v=161014-1513"></script>
  <% end %>
</body>
</html>
