<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editor - Performance Dashboards</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <%
    #
    # Production mode or not required for webpack-dev-server mode
    #
    if !(Rails.env.development? && ENV['DEV_SERVER'] == 'true') %>
      <link rel="stylesheet" href="/stylesheets/editor.css?v=161014-1513"/>
  <% end %>
</head>
<body class="editor <%= body_class(yield(:body_class_names)) %>">

  <div class="editor__top-bar">
    <div class="phase-banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
          <span>This is a working alpha and has limited functionality. Service data shown is
        accurate as at the time it was published.</span>
          </div>
        </div>
      </div>
    </div>
    <header class="main__header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a href="/editor" title="Go to the GOV.AU Portal's homepage" class="logo">
              <img src="<%= image_path('gov-performance.svg') %>" alt="Logo of GOV.AU Performance Dashboard" height="30px" />
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <%= yield %>

  <%
    #
    # Production mode or webpack-dev-server mode
    #
    if !(Rails.env.development? && ENV['DEV_SERVER'] == 'true') %>
    <script src="/javascripts/editor.js"></script>
  <% else %>
      <script src="http://localhost:8080/javascripts/editor.js?v=161014-1513"></script>
  <% end %>
</body>
</html>
